/*--------------------------------------------------------------
6. Home-style-3
---------------------------------------------------------------- */
/*6.1 quate-info-section */
.quate-info-section {
    position: relative;
    z-index: 1;
    margin-top: -60px;

    @media (max-width:991px) {
        margin-top: 90px;
    }

    @media (max-width:767px) {
        margin-top: 80px;
    }

    .wraper {
        padding: 45px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        position: relative;

        @media (max-width:991px) {
            padding-bottom: 20px;
        }

        @media (max-width:575px) {
            padding: 45px 10px;
            padding-bottom: 20px;
        }

        span {
            color: #00205C;
            text-align: center;
            font-family: DM Sans;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 1.54px;
            text-transform: uppercase;
            display: inline-block;
            border-radius: 12px 12px 0px 0px;
            background: #FFF;
            padding: 0 15px;
            position: relative;
            top: -66px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px -2px 0 0px rgb(0 0 0 / 6%);
        }

        .info {
            position: relative;

            @media (max-width:991px) {
                margin-bottom: 30px;
            }

            .form-control {
                padding: 16px 25px;
                padding-right: 35px;
                color: rgba(20, 33, 43, 0.80);
                font-family: DM Sans;
                font-size: 18px;
                font-weight: 400;
                width: 100%;
                border-radius: 4px;
                border: 1px solid #EEE;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 0.25rem transparent;
                    border: 1px solid #EEE;
                }
            }

            &.info-btn {
                width: 100%;

                .btn_primary {
                    width: 100%;
                }
            }

            .icon {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
}


/*6.2 about-section-s3 */
.about-section-s3 {

    .about-left-wrap {
        margin-left: 50px;

        @media (max-width:1199px) {
            margin-left: 0px;
        }

        @media (max-width:575px) {
            margin-left: 10px;
        }

        .image {
            position: relative;
            max-width: 474px;
            max-height: 551px;

            img {
                clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
                width: 100%;
            }

        }

        .item {
            width: 254px;
            height: 152px;
            background: #0057FF;
            z-index: 11;
            text-align: center;
            padding-top: 20px;
            position: absolute;
            left: -120px;
            bottom: -10px;
            border-radius: 10px;

            @media (max-width:1550px) {
                left: -40px;
            }

            @media (max-width:575px) {
                display: none;
            }

            .hsape {
                position: absolute;
                right: -30px;
                top: 0;
            }

            p {
                color: #FFF;
                font-family: Raleway;
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 0;
            }

            h3 {
                color: #FFF;
                font-family: Raleway;
                font-size: 38px;
                font-style: italic;
                font-weight: 400;

                @media (max-width:575px) {
                    font-size: 30px;
                }

                span {
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 700;

                    @media (max-width:575px) {
                        font-size: 40px;
                    }
                }
            }
        }

        .shape {
            position: absolute;
            left: -15px;
            bottom: -15px;
            z-index: -1;
        }

        .shape-2 {
            position: absolute;
            right: 0;
            bottom: -10px;
            z-index: -1;

            @media (max-width:1199px) {
                bottom: -30px;
            }

            @media (max-width:575px) {
                display: none;
            }
        }
    }

    .about-right-wrap {

        .top_title {

            p {
                margin-right: 70px;

                @media (max-width:767px) {
                    margin-right: 0;
                }
            }
        }

        .noun-electricit {

            .icon {
                @media (max-width:767px) {
                    width: 80px;
                }
            }
        }

        .noun-electricit {
            display: flex;
            align-items: center;
            margin-right: 120px;
            margin-bottom: 20px;

            @media (max-width:1199px) {
                margin-right: 0;
            }

            h3 {
                padding-left: 20px;
                color: #0057FF;
                font-family: DM Sans;
                font-size: 18px;
                font-weight: 700;
                line-height: 30px;

                @media (max-width:767px) {
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
    }

    .btn_primary {
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }

}


/*6.3 servces-section-s3 */
.servces-section-s3 {
    background: #00205C;
    position: relative;
    z-index: 1;
    padding-top: 110px;
    padding-bottom: 80px;

    @media (max-width:991px) {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    @media (max-width:767px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .shape-4 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -11;
    }

    .top_title {
        text-align: left;

        span {
            color: #00CC83;
        }

        h2 {
            margin-right: 100px;

            @media (max-width:1399px) {
                margin-right: 0px;
            }
        }

        p {
            color: #D0D4E1;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 29px;
            margin-left: 100px;

            @media (max-width:991px) {
                margin-left: 0;
            }
        }
    }

}

.servces-single-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #284578;
    background: transparent;
    padding: 30px 40px;
    transition: all .3s ease-in-out;
    margin-bottom: 30px;

    @media (max-width:1399px) {
        padding: 30px 20px;
    }

    .text {
        margin-right: 100px;

        @media (max-width:1199px) {
            margin-right: 20px;
        }

        span {
            color: #CFD2D8;
            font-family: DM Sans;
            font-size: 24px;
            font-weight: 500;
            text-transform: capitalize;
        }

        h3 {
            margin-bottom: 0;

            a {
                color: #FFF;
                font-family: $heading-font;
                font-size: 24px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }

    .icon {

        img {
            width: 60px;
            height: 60px;
            transition: all .3s ease-in-out;
        }

        .active {
            transition: all .3s ease-in-out;
        }

        .hover {
            display: none;
            transition: all .3s ease-in-out;
        }
    }

    &:hover {
        border: 1px solid transparent;
        background: #0057FF;
        box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.05);

        .icon {


            .active {
                display: none;
            }

            .hover {
                display: block;
            }
        }
    }

    &.btn {
        background: #00CC83;
        position: relative;
        height: 160px;
        text-align: left;

        @media (max-width:991px) {
            height: 126px;
        }

        .shape-1 {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .shape-2 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

/*6.4 features-section-s3 */
.features-section-s3 {
    padding-bottom: 84px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @media (max-width:1199px) {
        padding: 90px 0;
        padding-bottom: 60px;
    }

    &::before {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        width: 100%;
        background: url(../images/features/shape-3.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .side-image {
        position: absolute;
        left: -55px;
        top: 0;
        z-index: -1;
        width: 844px;

        @media (max-width:1830px) {
            left: -155px;
        }

        @media (max-width:1630px) {
            left: -255px;
        }

        @media (max-width:1430px) {
            left: -355px;
        }

        @media (max-width:1199px) {
            left: -455px;
        }

        @media (max-width:991px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .features-content {
        margin-right: 70px;

        @media (max-width:1199px) {
            margin-right: 0;
        }
    }

    .top_title {
        text-align: left;

        span {
            color: #0057FF;
        }

        h2 {
            color: #00205C;

            @media (max-width:499px) {
                font-size: 26px;
                line-height: 35px;
            }
        }



        p {
            color: #5E5F63;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 30px;
            margin-bottom: 30px;

            @media (max-width:499px) {
                margin-top: 10px;
            }
        }
    }

    .features-item {
        max-width: 525px;
        display: flex;
        margin-bottom: 20px;

        @media (max-width:499px) {
            display: block;
        }

        .icon {
            width: 70px;
            height: 70px;
            position: relative;
            background: $white;
            border-radius: 100px;
            box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width:499px) {
                margin-bottom: 20px;
            }
        }

        .text {
            width: calc(100% - 70px);
            margin-left: 30px;

            @media (max-width:499px) {
                margin-left: 0;
                width: 100%;
            }

            h3 {
                color: #00205C;
                font-family: DM Sans;
                font-size: 24px;
                font-weight: 700;
                line-height: 33px;
                text-transform: capitalize;

                @media (max-width:399px) {
                    font-size: 20px;
                    ;
                }
            }

            p {
                color: #5E5F63;
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
            }
        }
    }

}

/*6.5 testiminial-section-s3 */
.testiminial-section-s3 {
    position: relative;
    z-index: 1;
    padding: 110px 0;

    @media (max-width:991px) {
        padding: 80px 0;
    }

    @media (max-width:767px) {
        padding: 70px 0;
    }

    .testiminial-left-content {

        .top_title {
            text-align: left;

            span {
                color: #0057FF;
            }

            h2 {
                color: #00205C;
                margin-bottom: 10px;
            }

            p {
                color: #5E5F63;
                font-family: $base-font;
                font-size: 16px;
                font-weight: 400;
            }

            .testiminial-btn {
                color: #0057FF;
                font-family: $base-font;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;

                i {
                    padding-left: 5px;
                }
            }
        }
    }

    .testiminial-right-slider {
        width: 784px;

        @media (max-width:1399px) {
            width: 650px;
        }

        @media (max-width:1199px) {
            width: 550px;
        }

        @media (max-width:991px) {
            width: 100%;
            margin-top: 20px;
        }

        .item {
            max-width: 376px;
            max-height: 401px;
            background: $white;
            box-shadow: 0px 2px 10px 0px rgba(0, 4, 88, 0.1019607843);
            padding: 40px 35px;
            text-align: left;
            position: relative;
            transition: all .3s ease-in-out;

            @media (max-width:1199px) {
                padding: 20px 15px;
            }

            @media (max-width:767px) {
                max-width: 100%;
            }

            .retin {

                li {
                    list-style: none;
                    display: inline-block;
                }
            }


            h3 {
                color: #3A3C45;
                font-family: $base-font;
                font-size: 18px;
                font-weight: 500;
                line-height: 35px;
                letter-spacing: -0.72px;
                padding: 30px 0;
                padding-top: 28px;
                border-bottom: 1px solid #D9D9D9;
                margin-bottom: 0;
            }

            .bottom-content {
                display: flex;
                align-items: center;
                margin: 40px 0;

                .image {
                    width: 55px;
                    height: 55px;
                    border-radius: 100px;
                    border: 2px solid #FFF;
                    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.13);

                    img {
                        width: 100%;
                        border-radius: 100px;
                    }
                }

                .text {
                    margin-left: 25px;

                    h2 {
                        margin-bottom: 0;
                        color: #00205C;
                        font-family: $base-font;
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }

                    span {
                        color: #0057FF;
                        font-size: 16px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }
            }

            .shape {
                position: absolute;
                left: -10px;
                bottom: -10px;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
            }

            &:hover {
                .shape {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .owl-nav {
            display: none;
        }

        .owl-stage-outer {
            margin: -15px;
        }

        .owl-stage {
            margin: 15px;
        }

        .owl-dots {
            margin-top: 10px;
            text-align: center;
        }

        .owl-dots {
            text-align: center;
            padding-top: 15px;
        }

        .owl-dots button.owl-dot {
            width: 15px;
            height: 15px;
            border-radius: 100px;
            display: inline-block;
            background: #D6D1D1;
            margin: 0 7px;
            border: transparent;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 25px;
                height: 25px;
                border-radius: 100px;
                border: 1px solid $template-color;
                transition: all .3s ease-in-out;
                opacity: 0;
                visibility: hidden;
                transform: translate(-50%, -50%);

                @media (max-width:991px) {
                    top: 46%;
                }

                @media (max-width:767px) {
                    top: 50%;
                    left: 46%;
                }

                @media (max-width:575px) {
                    display: none;
                }
            }
        }

        .owl-dots button.owl-dot.active {
            background-color: $template-color;

            &::before {
                opacity: 1;
                visibility: visible;
            }
        }

        .owl-dots button.owl-dot:focus {
            outline: none;
        }

        .owl-nav button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.38) !important;
        }

        span {
            font-size: 70px;
            position: relative;
            top: -5px;
        }

        .owl-nav button:focus {
            outline: none;
        }
    }


    .image-1 {
        position: absolute;
        right: 5%;
        bottom: 20%;
        width: 55px;
        height: 55px;
        line-height: 55px;

        @media (max-width:1699px) {
            right: 20px;
        }

        @media (max-width:1549px) {
            display: none;
        }

        img {
            border: 3px solid #FFF;
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.13);
            border-radius: 56.558px;
            width: 100%;
        }
    }

    .image-2 {
        position: absolute;
        right: 5%;
        top: 20%;
        width: 55px;
        height: 55px;
        line-height: 55px;

        @media (max-width:1699px) {
            right: 20px;
        }

        @media (max-width:1549px) {
            display: none;
        }

        img {
            border: 3px solid #FFF;
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.13);
            border-radius: 56.558px;
            width: 100%;
        }
    }
}

/*6.6 team-section-s2 */
.team-section-s2 {
    position: relative;
    z-index: 1;
    padding-top: 110px;
    padding-bottom: 80px;

    @media (max-width:991px) {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    @media (max-width:767px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }


    .shape {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .top_title {
        span {
            color: #0057FF;
        }

        h2 {
            color: #00205C;
        }
    }


    .team-single {
        position: relative;

        .image {

            img {
                border-radius: 0;
            }

            &::before {
                display: none;
            }

            ul {
                left: auto;
                right: 0;
                top: auto;
                bottom: 0;
                opacity: 1;
                visibility: visible;
                transform: none;

                li {
                    background: #094AC7;
                    opacity: 0;
                    visibility: hidden;



                    &:last-child {
                        opacity: 1;
                        visibility: visible;
                        background: #0057FF;

                        &:hover {
                            background: #0057FF;
                        }
                    }

                    &:hover {
                        background: $white;

                        a {
                            i {
                                color: #0057FF;
                            }
                        }
                    }
                }
            }
        }

        &::before {
            position: absolute;
            right: -18px;
            top: auto;
            bottom: -10px;
            width: 100%;
            height: 100%;
            content: '';
            border: 1px solid #0057FF;
            border-radius: 0;
            z-index: -1;
            transition: all .3s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }

        .text {
            width: 100%;
            border-radius: 6px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-bottom: 20px;
            background: $white;


            span {
                color: #0057FF;
            }

            h2 {
                margin-bottom: 5px;

                a {
                    color: #16243D;
                }

            }
        }

        &:hover {
            .image {


                ul {


                    li {
                        opacity: 1;
                        visibility: visible;

                    }
                }
            }

            &::before {
                opacity: 1;
                visibility: visible;
            }

            .text {
                border: 1px solid transparent;
                box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.09);
            }
        }

        &.active {
            .image {

                img {
                    filter: grayscale(0);
                }

                ul {


                    li {
                        opacity: 1;
                        visibility: visible;

                    }
                }
            }

            &::before {
                opacity: 1;
                visibility: visible;
            }

            .text {
                border: 1px solid transparent;
                box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.09);
            }
        }
    }
}

/*6.7 faq-section-s2 */
.faq-section-s2 {
    background: url(../images/faq/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
    padding-bottom: 90px;

    @media (max-width:767px) {
        padding-bottom: 80px;
    }

    .faq--wrap {
        @media (max-width:1199px) {
            margin-top: 60px;
            margin-bottom: 90px;
        }

        @media (max-width:991px) {
            margin-top: 0px;
        }

        @media (max-width:767px) {
            margin-bottom: 80px;
        }

        .top_title {
            text-align: left;

            span {
                color: $template-color-s2;
                display: inline-flex;

                .icon {
                    margin-right: 5px;
                }
            }

            h2 {
                color: $template-color-s3;
                margin-bottom: 40px;

                @media (max-width:1199px) {
                    font-size: 40px;
                }

                @media (max-width:991px) {
                    font-size: 35px;
                }

                @media (max-width:767px) {
                    font-size: 30px;
                }
            }
        }

        .accordion-item {
            margin-bottom: 20px;
            background: #FFF;
            box-shadow: 0px 14px 50px 0px #E4E9F1;
            border: transparent;
            padding: 0 25px;

        }

        .accordion-button {
            border: transparent;
            background: #FFF;
            padding: 20px 0;
            color: #000D44;
            font-family: $base-font;
            font-size: 20px;
            font-weight: 500;


            @media (max-width:1199px) {
                font-size: 16px;
            }

            @media (max-width:767px) {
                padding: 15px 10px;
            }

        }

        .accordion-button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .accordion-button:focus {
            box-shadow: 0 0 0 0.25rem transparent;
        }

        .accordion-button::after {
            background: transparent;
            background-repeat: no-repeat;
            background-position: center;
            width: 37px;
            height: 36px;
            line-height: 36px;
            color: #001C4C;
            content: "\e61a";
            font-family: themify;
            font-size: 15px;

            @media(max-width:767px) {
                padding-left: 20px;
            }
        }

        .accordion-button:not(.collapsed)::after {
            background-image: transparent;
            transform: none;
            content: "\e622";
            color: #0057FF;

        }

        .accordion-button:not(.collapsed) {
            box-shadow: inset 0 -1px 0 transparent;
            border: transparent;
            border-bottom: 1px solid #D2D2D2;

        }

        .accordion-body {
            padding: 0px;
            padding-bottom: 0;

            @media (max-width:767px) {
                padding: 15px 0;
            }

            .text {
                p {
                    color: #5E5F63;
                    font-family: $base-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28.8px;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    padding-right: 50px;

                    @media (max-width:1399px) {
                        padding-right: 0;
                    }
                }
            }
        }

    }


    .faq-right-content {
        position: relative;
        z-index: 1;

        .image {
            width: 666px;
            max-height: 624px;
            text-align: right;
            margin-left: 100px;

            @media(max-width:1599px) {
                margin-left: 20px;
            }

            @media(max-width:1399px) {
                margin-left: 0px;
                width: 500px;
                margin-top: 100px;
            }

            @media(max-width:1199px) {
                margin-top: 200px;
            }

            @media(max-width:991px) {
                margin-top: 0px;
                margin: 0 auto;
            }

            @media(max-width:767px) {
                width: 300px;
            }

            img {
                width: 100%;
            }
        }

        .shape-1 {
            position: absolute;
            right: -47%;
            top: 0;
            z-index: 1;

            @media(max-width:1399px) {
                display: none;
            }
        }

    }

    .shape-2 {
        position: absolute;
        right: 0;
        top: 0;

        @media(max-width:1699px) {
            right: -120px;
        }

        @media(max-width:1399px) {
            right: -250px;
        }

        @media(max-width:1199px) {
            right: -450px;
        }

        @media(max-width:991px) {
            display: none;
        }
    }
}

/*6.8 counter-section-s3 */
.counter-section-s3 {
    background: #02225D;

    @media (max-width:991px) {
        padding: 35px 0;
    }

    &::before {
        display: none;
    }

    .item {
        @media (max-width:991px) {
            margin: 20px 0;
        }

        .icon {
            width: 50px;
            height: 46px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        h3 {
            color: #FFF;
            font-family: $base-font;
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 0;
        }

        p {
            color: #FFF;
            font-family: $base-font;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }


    .left-shape {
        position: absolute;
        left: 0;
        bottom: 0;

        @media (max-width:767px) {
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        bottom: 0;

        @media (max-width:767px) {
            display: none;
        }
    }

    .left-shape-2 {
        position: absolute;
        left: 110px;
        bottom: 40px;
        animation-name: left-to-right-anime;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media (max-width:1599px) {
            display: none;
        }
    }

    .right-shape-2 {
        position: absolute;
        right: 150px;
        bottom: 20px;
        animation-name: left-to-right-anime;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media (max-width:1599px) {
            display: none;
        }
    }
}

/*6.9 project-section-s3 */
.project-section-s3 {
    padding: 115px 0;

    @media (max-width:991px) {
        padding: 80px 0;
    }

    @media (max-width:767px) {
        padding: 70px 0;
    }

    .top_title {

        span {
            color: #0057FF;
            ;
        }

        h2 {
            color: #00205C;
        }
    }




    .project-single {

        .image {
            position: relative;

            .img-link {
                position: absolute;
                width: 100%;
                height: 0;
                left: 0;
                top: 0;
                background: rgba(2, 34, 93, 0.67);
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;

                i {
                    font-size: 45px;
                    color: $white;
                }
            }
        }

        &:hover {
            .image {
                position: relative;

                .img-link {
                    height: 100%;
                    opacity: 1;
                    visibility: visible;

                }
            }
        }
    }

    .project-btn {
        text-align: center;
        margin-top: 30px;

        .btn_primary {
            color: #FFF;
            text-align: center;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            background: #00CC83;
            color: #FFF;

        }
    }
}

/*6.10 blog-section-s2 */
.blog-section-s2 {
    &.s3 {
        .bg {
            display: block;
            position: absolute;

            @media (max-width:767px) {
                background-position: center;
                background-size: cover;
            }

            img {
                @media (max-width:767px) {
                    height: 300px;
                }

                width: 100%;
            }
        }
    }
}

/*6.11 Map-section */
.Map-section {
    height: 394px;
    position: relative;
    margin-bottom: -75px;

    @media (max-width:991px) {
        height: 494px;
        margin-bottom: -175px;
    }

    @media (max-width:767px) {
        height: 694px;
        margin-bottom: -375px;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        outline: 0;
    }
}


/*6.12 proejct-all-section */
.proejct-all-section {
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .project-single {

        .text {
            max-width: 510px;
            margin: 0 auto;
            margin-top: -60px;
            border-radius: 5px;
            transition: all .3s ease-in-out;

            @media (max-width:1199px) {
                max-width: 430px;
            }

            @media (max-width:991px) {
                max-width: 510px;
            }

            @media (max-width:575px) {
                max-width: 350px;
            }

            @media (max-width:425px) {
                max-width: 280px;
            }

            span {
                color: #969FA5;
                font-family: Raleway;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                transition: all .3s ease-in-out;
            }

            h2 {
                margin-bottom: 10px;

                a {
                    color: #00205C;
                    font-family: Raleway;
                    font-size: 26px;
                    font-weight: 600;

                    @media (max-width:425px) {
                        font-size: 20px;
                    }
                }
            }

            .project-btn {
                a {
                    color: #00205C;
                    font-family: Raleway;
                    font-size: 15px;
                    font-weight: 600;
                    transition: all .3s ease-in-out;

                    i {
                        padding-left: 20px;
                    }
                }
            }
        }

        &:hover {

            .text {
                background: $template-color;
                border-bottom: transparent;

                span {
                    color: $white;
                }

                h2 {
                    a {
                        color: $white;
                    }
                }

                .project-btn {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}