/*9. team_single_section */

.team_single_section {

    .team_top_wrap {
        padding: 45px;
        border: 1px solid #ddd;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @media (max-width:991px) {
            flex-direction: column;
        }

        @media (max-width:575px) {
            padding: 20px 15px;
        }

        .image {
            max-width: 450px;
            width: 100%;

            @media (max-width:991px) {
                margin-bottom: 50px;
            }

            img {
                width: 100%;
                border-radius: 100px;

                @media (max-width:575px) {
                    border-radius: 40px;
                }
            }
        }

        .content {
            width: calc(100% - 400px);
            margin-left: 60px;

            @media (max-width:1199px) {
                margin-left: 20px;
            }

            @media (max-width:991px) {
                width: 100%;
                margin-left: 0px;
            }

            h2 {
                font-size: 25px;
                color: $heading-color;
                margin-bottom: 20px;
                display: inline-block;

                @media (max-width:575px) {
                    font-size: 20px;
                }
            }

            ul {
                li {
                    padding: 15px 25px;
                    margin-bottom: 25px;
                    border: 1px solid #ddd;
                    font-size: 17px;
                    color: rgb(99, 99, 99);

                    @media (max-width:575px) {
                        padding: 10px 10px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    ul {
                        display: inline;

                        li {
                            display: inline-block;
                            padding: 0;
                            margin-bottom: 0;
                            border: 1px solid transparent;
                            color: transparent;
                            margin-right: 25px;

                            @media (max-width:575px) {
                                margin-right: 10px;
                            }

                            a {
                                font-size: 20px;
                                color: rgb(129, 57, 231);

                                @media (max-width:575px) {
                                    font-size: 18px;
                                }
                            }

                            &:first-child {
                                padding-left: 15px;
                            }

                            &:nth-child(2) {
                                a {
                                    color: $template-color;
                                }
                            }

                            &:nth-child(3) {
                                a {
                                    color: #13c5d0;
                                }
                            }

                            &:nth-child(4) {
                                a {
                                    color: #ff0971;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .team_bottom_wrap {
        p {
            margin-right: 50px;
            font-size: 17px;
            color: rgb(99, 99, 99);
            margin-bottom: 80px;
        }

        span {
            font-size: 17px;
            color: rgb(99, 99, 99);
            padding-bottom: 10px;
            display: inline-block;
        }

        .progres {
            height: 8px;
            background: #e8edee;
            position: relative;
            margin-bottom: 15px;
        }

        .bar {
            height: 100%;
            background: #df5311;
        }

        .percent {
            right: 0;
            top: -30px;
            position: absolute;
            margin-right: 0;
        }
    }
}