/*--------------------------------------------------------------
3. sections
--------------------------------------------------------------*/

/*-------------------------------------------
3.1 hero_section 
--------------------------------------------*/

.hero-section,
.hero-section-s3 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 874px;
	position: relative;
	z-index: 1;
	.bg-img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		img{
		-webkit-animation: kenburn 25s 2s alternate infinite;
		-animation: kenburn 25s 2s alternate infinite;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

	@media(max-width:1199px) {
		height: 780px;
	}

	@media(max-width:991px) {
		height: 750px;
	}

	@media(max-width:767px) {
		height: 600px;
	}



	.hreo-content {
		margin-top: 285px;

		@media (max-width:767px) {
			margin-top: 250px;
		}
		@media (max-width:576px) {
			margin-top: 200px;
		}

		span {
			color: #FFF;
			font-family: DM Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 30px;
			letter-spacing: 1.54px;
			text-transform: uppercase;
			border: 1px dashed rgba(255, 255, 255, 0.22);
			padding: 5px 10px;
		}

		h2 {
			color: #FFF;
			font-family: Raleway;
			font-size: 70px;
			font-style: normal;
			font-weight: 700;
			line-height: 68px;
			letter-spacing: 0.7px;
			text-transform: capitalize;
			margin-top: 20px;
			background: rgba(255, 255, 255, 0.04);
			padding: 13px;
			padding-top: 2px;
			display: inline-block;

			@media (max-width:1399px) {
				font-size: 65px;
			}

			@media (max-width:1199px) {
				font-size: 50px;
				line-height: 65px;
			}

			@media (max-width:767px) {
				font-size: 30px;
				line-height: 40px;
				padding: 0;
			}
		}

		h3 {
			color: #FFF;
			font-family: Raleway;
			font-size: 70px;
			font-style: normal;
			font-weight: 700;
			line-height: 80px;
			letter-spacing: 0.7px;
			text-transform: capitalize;
			margin-bottom: 0;

			@media (max-width:1399px) {
				font-size: 65px;
			}

			@media (max-width:1199px) {
				font-size: 50px;
				line-height: 60px;
			}

			@media (max-width:767px) {
				font-size: 30px;
				line-height: 40px;
			}

			span {
				color: $template-color-s2;
				font-family: Raleway;
				font-size: 70px;
				font-style: normal;
				font-weight: 700;
				line-height: 80px;
				letter-spacing: 0.7px;
				text-transform: capitalize;
				border: 1px dashed transparent;
				padding: 0;

				@media (max-width:1199px) {
					font-size: 50px;
					line-height: 60px;
				}

				@media (max-width:767px) {
					font-size: 30px;
					line-height: 40px;
				}
			}
		}

		.hero-btn {

			.btn_primary {
				color: #FFF;
				text-align: center;
				font-family: DM Sans;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 0.8px;
				text-transform: uppercase;
				padding: 20px 45px;
				@media(max-width:991px) {
					font-size: 15px;
					padding: 15px 30px;
				}
			
				@media(max-width:767px) {
					padding: 12px 18px;
					font-size: 14px;
				}
				&::after {
					display: none;
				}

				span {
					position: absolute;
					right: -5px;
					bottom: -5px;
					content: "";
					width: 100%;
					height: 100%;
					border-radius: 7px;
					border: 1px dashed #0057FF;
					z-index: -11;
					transition: opacity 0.5s ease-out;
				}

				&:hover {
					span {
						border: 1px dashed #004ee6;
					}
				}
			}
		}
	}

	.hero-botom {
		display: flex;
		align-items: center;
		margin-top: 30px;
	}



	.video-btn {
		display: block;
		width: 77px;
		height: 77px;
		line-height: 61px;
		text-align: center;
		background: $white;
		border-radius: 50%;
		position: relative;
		margin-left: 30px;
		border: 10px solid rgb(18 18 18 / 6%);
		@media(max-width:767px) {
			width: 55px;
		height: 55px;
		line-height: 55px;
		}
		&:after {
			content: "";
			width: 0px;
			height: 0px;
			border-top: 9px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 14px solid $template-color;
			position: absolute;
			left: 52%;
			top: 50%;
			transform: translate(-50%, -50%);
		}



		i {
			font-size: 25px;
			color: $white;
		}
	}

	.shape {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
		animation: bounce-1 6s infinite;
	}
}

@-webkit-keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}

@keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}

/* hero-section-s2 */
.hero-section-s2 {
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 770px;
	.bg-img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		img{
		-webkit-animation: kenburn 25s 2s alternate infinite;
		-animation: kenburn 25s 2s alternate infinite;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
	@media (max-width:991px) {
		height: 700px;
		background: unset;
	}

	@media (max-width:767px) {
		height: 600px;
	}

	@media (max-width:575px) {
		height: 500px;
	}

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(143deg, rgba(242, 244, 246, 0.68) 0%, rgba(242, 244, 246, 0.00) 30.54%, rgba(242, 244, 246, 0.00) 100%);
	}



	.shape {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	.shape-2 {
		position: absolute;
		right: 0;
		bottom: 30px;
		z-index: -1;

		@media (max-width:991px) {
			display: none;
		}
	}

	.hero-wrap {
		position: relative;

	}

	.hreo-content {
		margin-top: 120px;

		@media (max-width:575px) {
			margin-top: 50px;
		}

		span {
			text-transform: uppercase;
			font-family: $heading-font;
			color: #0057FF;
			font-family: $base-font;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1.76px;
			text-decoration-line: underline;
			text-transform: uppercase;

			@media (max-width:575px) {
				font-size: 15px;
			}

			img {
				margin-right: 5px;
			}
		}

		h2 {
			color: #00205C;
			font-family: Raleway;
			font-size: 70px;
			font-weight: 400;
			line-height: 80px;
			letter-spacing: 0.7px;
			text-transform: capitalize;
			text-decoration: none;
			margin-top: 15px;

			@media (max-width:767px) {
				font-size: 45px;
				line-height: 50px;
			}

			@media (max-width:575px) {
				font-size: 30px;
				line-height: 40px;
			}
		}

		h3 {
			color: #00205C;
			font-family: Raleway;
			font-size: 70px;
			font-weight: 700;
			line-height: 80px;
			letter-spacing: 0.7px;
			text-transform: capitalize;
			margin-bottom: 20px;

			@media (max-width:1199px) {
				font-size: 66px;
			}

			@media (max-width:767px) {
				font-size: 45px;
				line-height: 50px;
			}

			@media (max-width:575px) {
				font-size: 30px;
				line-height: 40px;
			}

			@media (max-width:575px) {
				margin-bottom: 10px;
			}

		}

		p {
			color: #5E5F63;
			font-family: DM Sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 32px;
			text-transform: capitalize;
			max-width: 557px;
			margin-bottom: 40px;
		}

		.hero-btn {

			.btn_primary {
				color: #FFF;
				text-align: center;
				font-family: DM Sans;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 0.8px;
				text-transform: uppercase;
				background: #00CC83;
				color: #FFF;
				padding: 20px 45px;
				@media(max-width:991px) {
					font-size: 15px;
					padding: 15px 30px;
				}
			
				@media(max-width:767px) {
					padding: 12px 18px;
					font-size: 14px;
				}
			}
		}
	}

	.argent-btn {
		position: absolute;
		z-index: 1;
		width: 247px;
		height: 142px;
		right: 0;
		top: 67%;
		text-align: center;
		padding-top: 13px;

		@media (max-width:991px) {
			right: -100px;
			top: 78%;
		}

		@media (max-width:767px) {
			display: none;
		}

		.bg-shape {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		span {
			color: #FFF;
			font-family: DM Sans;
			font-size: 26px;
			font-weight: 500;
			line-height: 57px;
		}

		h2 {
			color: #FFF;
			font-family: DM Sans;
			font-size: 56px;
			font-weight: 700;
			line-height: 57px;
			margin-bottom: 0;

			span {
				color: #FFF;
				font-family: DM Sans;
				font-size: 24px;
				font-weight: 400;
				line-height: 57px;
			}
		}
	}
}


/* hero-section-s3 */
.hero-section-s3 {
	background: url(../images/slider/slide-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 776px;
	z-index: 1;

	@media(max-width:991px) {
		height: 600px;
	}

	@media(max-width:767px) {
		height: 500px;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: linear-gradient(143deg, rgba(242, 244, 246, 0.68) 0%, rgba(242, 244, 246, 0.00) 30.54%, rgba(242, 244, 246, 0.00) 100%);
		z-index: -1;
	}



	.hreo-content {
		margin-top: 180px;

		@media(max-width:991px) {
			margin-top: 150px;
		}

		span {
			color: #0B0909;
			border: 1px dashed transparent;
			background: $white;
		}

		h2 {
			color: #00205C;
			background: $white;

		}

		h3 {
			color: #00205C;

			span {
				color: #00205C;
				background: transparent;
			}
		}

		.hero-btn {

			.btn_primary{
				span {
					display: none;
				}
			}
		}
	}

	.shape {
		@media (max-width:991px) {
			display: none;
		}
	}
}




/* bounce-1 */

@keyframes bounce-1 {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-40px);
	}

	100% {
		transform: translateY(0);
	}
}


.animated {
    animation-duration: 1.25s;
}



/* right bounce */
@-webkit-keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
	40% {
	  -webkit-transform: translateX(-30px);
	  transform: translateX(-30px);
	}
	60% {
	  -webkit-transform: translateX(-15px);
	  transform: translateX(-15px);
	}
  }
  @-moz-keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
	  transform: translateX(0);
	}
	40% {
	  transform: translateX(-30px);
	}
	60% {
	  transform: translateX(-15px);
	}
  }
  @keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
	  -ms-transform: translateX(0);
	  transform: translateX(0);
	}
	40% {
	  -ms-transform: translateX(-30px);
	  transform: translateX(-30px);
	}
	60% {
	  -ms-transform: translateX(-15px);
	  transform: translateX(-15px);
	}
  }
  /* /right bounce */
  


/*   shake  */
  @keyframes shake {
	  0%, 100% {transform: translateX(0);}
	  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	  20%, 40%, 60%, 80% {transform: translateX(10px);}
  }


/*   pulse */

  @keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0
    }

    50% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}
/*   left-to-right-anime */

  @keyframes left-to-right-anime {
    0% {
        transform: translateX(-30px);
    }

    50% {
		transform: translateX(-10px);
    }

    100% {
		transform: translateX(-30px);
    }
}




// bounce2 
	
  
  @keyframes bounce2 {
	  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	  40% {transform: translateY(-30px);}
	  60% {transform: translateY(-15px);}
  }



  







