.top_title {
    margin-bottom: 30px;
	text-align: center;

	@media(max-width:767px) {
		margin-bottom: 20px;
	}

	span {
		text-transform: uppercase;
		font-family: $heading-font;
		color: #FFF;
		font-family: $base-font;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.76px;
		text-decoration-line: underline;
		text-transform: uppercase;
		@media(max-width:575px) {
			font-size: 13px;
		}
		img{
			margin-right: 5px;
		}
	}

	h2 {
		margin: 0;
		margin-top: 15px;
		position: relative;
		text-transform: capitalize;
		font-family: $heading-font;
		font-weight: 600;
		color: #FFF;
		font-size: 45px;
		font-weight: 700;
		line-height: 55px;
		text-transform: capitalize;

		@media(max-width:767px) {
			font-size: 32px;
			line-height: 40px;
		}

		@media(max-width:330px) {
			font-size: 30px;
		}

	}

	p {
		font-size: 18px;
	}
}