
/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');





// fonts
$base-font-size: 15;
$base-font: 'DM Sans', sans-serif;
$heading-font: 'Raleway', sans-serif;



// color
$dark-gray: #00205C;//
$body-color: #687693;
$white: #fff;
$light: #5A627D;//
$black: #000;
$small-black: #0A1426;//
$cyan: #848892;

$template-color: #0057FF;//
$template-color-s2: #00CC83;//
$template-color-s3: #00205C;//
$body-bg-color: #fff;
$section-bg-color: #EFF4FF;//
$text-color: #6e6e6e;
$text-light-color: #5E5F63;//
$heading-color: $dark-gray;
$border-color: #E8EBED;//
$border-color-s2: #E0E0E0;//
